
  .btn {
    border: none;
    padding: 1rem;
    border-radius: .375rem;
    text-transform: uppercase;
    transform: scale(1);
    opacity: 1;
    will-change: transform, opacity;
    transition: transform .2s ease, opacity .2s ease;
    color: #FFFFFF;

    &:hover:not(:disabled) {
      cursor: pointer;
      opacity: .8;
      transform: scale(1.025)
    }

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }

    &.rounded {
      border-radius: 50%;
    }

    // nested icon
    .icon {
      max-height: 30%;
      height: auto;
      width: auto;
      object-fit: contain;
    }
  }
