.marketplace-widget {
  height: auto;
  padding: 1.25rem;
  border-radius: 1.25rem;
  background: rgba(70, 52, 85, 0.7);

  .header {
    .title {
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1.75rem;
      color: #FFFFFF;
      text-transform: uppercase;
    }
    .info-btn {
      margin-left: .75rem;
      font-weight: 300;
      font-size: 0.75rem;
      height: 1.25rem;
      width: 1.25rem;
      padding: 0;
      border-radius: 50%;
      border: 0.065rem solid #FFFFFF;
      color: #FFFFFF;
      background: transparent;
      font-family: "Fira Code", sans-serif;
      text-transform: none;
    }
  }

  .shadowsCarousel {
    position: relative;
    width: 100%;

    &.left {
      &::before {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.right {
      &::after {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.shadow {
      &::before {
        background-image: linear-gradient(90deg, rgba(55,43,68, 1), rgba(55,43,68, 0.1) 100%);
        content: '';
        width: 30px;
        left: 0;
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
      }

      &::after {
        background-image: linear-gradient(90deg, rgba(55,43,68, 0.1), rgba(255,255,255, 0.7) 100%);
        top: 0;
        content: '';
        width: 30px;
        right: 0;
        position: absolute;
        height: 100%;
        opacity: .5;
      }
    }

  }

  .carousel {
    height: 14.0625rem;
    position: relative;
    overflow-x: auto;
    gap: 1rem;

    .carousel-item {
      flex-grow: 0;
      flex-shrink: 0;
      width: 10.5rem;
      background-image: url("../../../../../assets/geometry/bevel.png");
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 1.25rem 1rem 1rem;
      position: relative;

      .carousel-item-overlay {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;

          .dot {
            position: absolute;
            height: 0.25rem;
            width: 0.25rem;
            background: rgba(206, 206, 206, 1);

            &:nth-of-type(1) {
              left: 0;
              top:0;
            }

            &:nth-of-type(2) {
              right: 0;
              top:0;
            }

            &:nth-of-type(3) {
              left: 0;
              bottom:0;
            }

            &:nth-of-type(4) {
              right: 0;
              bottom:0;
            }
        }


      }




      .image {
        height: 8rem;
        width: auto;
        align-self: center;
      }
      .video {
        width: 90%;
        height: 90%;
        border-radius: 20px;
      }

      .spacer {
        flex-grow: 0;
        flex-shrink: 0;
        height: 0.125rem;
        background: linear-gradient(90deg, rgba(121, 121, 121, 0) -3.15%, rgba(121, 121, 121, 0.44) 9.12%, #797979 52.21%, rgba(121, 121, 121, 0.302629) 92.43%, rgba(121, 121, 121, 0) 103.15%);
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
      }

      .title {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        color: #E6E6E6;
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
      }

      .price {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
      }


      &:hover {
        background-image: url("../../../../../assets/geometry/bevel-active.png");
        .carousel-item-overlay {
            .dot {
              background: rgba(184, 100, 162, 1);
            }
        }
      }

    }
  }
}
