.leftbar {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1), inset 0px 0px 25px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(25px);
  @apply w-20 h-full rounded-md flex flex-col items-center py-4 space-y-2;
}
.lightIcon {
  @apply text-white rounded-full p-1 text-2xl;
}
.lightStar {
  @apply text-white rounded-full p-1 text-2xl;
  border: 2px solid white;
}
.leftbar_icon {
  @apply p-4 cursor-pointer;
}